# Xcode
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
xcuserdata/
*.xcworkspace/xcuserdata/

# Build
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods / SPM
Pods/
.build/

# OS
.DS_Store
*.swp
*~

# Secrets
*.xcconfig
!Debug.xcconfig
!Release.xcconfig
